<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
  rel="stylesheet"
/>
<div>
  <h1>Resultados de la predicción</h1>
  <div class="contenedor">
    <p class="horizontal"><strong>Predicción para el Año:</strong> {{ year }}</p>
    <p class="horizontal"><strong>Mes:</strong> {{ month }}</p>
    <p class="horizontal"><strong>Estado:</strong> {{ state }}</p>
    <p class="horizontal"><strong>Tipo de Gasolina:</strong> {{ gasolina }}</p>
  </div>
  <label>Click en el boton para obtener la prediccion del precio!</label>
  <!-- <div class="buttonContainer">
    <button>Gráfica Regresión Lineal</button>
    <button>Gráfica Regresión Polinomial</button>
  </div> -->
 
  <button class="buttonContainer" (click)="getPrediction()">Obtener Predicción</button>
  <div *ngIf="prediccion !== null">
    <h2>Predicción: $ {{ prediccion }}</h2>
  </div>


   <!-- Imagen -->
   <div class="image">
    <img src="assets/images/gasolina.jpg" alt="Descripción de la imagen">
  </div>
</div>
