h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #9B4444;
}

.horizontal {
    display: inline-block;
    margin-right: 60px;
}

.contenedor {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.buttonContainer{
    text-align: center;
}


  label {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    display: block;
    margin-bottom: 27px;
    text-align: center;
    margin-top: 20px;
  }

  .image {
    width: 70%; /* Ancho de la imagen */
    
  }
  
  .image img {
    margin-top: 20px; /* Margen superior para separar la imagen */
    width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
    border-radius: 30px;
    margin-left: 250px;
  }

  .buttonContainer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    display: block;
    margin: 0 auto; /* Esto centra el botón horizontalmente */
    padding: 10px 20px;
    /* font-size: 16px; */
    background-color: #5d9c59; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttonContainer:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el ratón */
  }
  
  h2 {
    text-align: center; /* Centra el texto */
    font-size: 24px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    margin-top: 20px; /* Espacio superior */
  }
  
