h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 150px;
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  display: block;
  margin-bottom: 27px;
  text-align: center;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: "700";
  font-size: 1.2em;
  color: #fff;
  background-color: #5d9c59;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 4%;
}

.image img {
  margin-top: 20px;
  width: 18%;
  border-radius: 30px;
}
