<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
  rel="stylesheet"
/>
<div>
  <h3>¡Bienvenido al futuro de la predicción del precio de la gasolina!</h3>
  <label
    >Nuestra herramienta utiliza tecnología avanzada y análisis de datos para
    ofrecerte predicciones precisas sobre los aumentos de precios. Planifica con
    anticipación y toma decisiones informadas.</label
  >
</div>

<button routerLink="/PantallaPrincipal">Empezar a predecir</button>

<!-- Imagen -->
<div class="image">
  <img src="assets/images/gasolinera.png" alt="Descripción de la imagen" />
</div>
